# fly.toml app configuration file generated for signal-cli-rest-api-unhzjg on 2026-01-03T00:02:25Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'signal-cli-rest-api-unhzjg'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8080
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
[mounts]
  source = "signal_data"
  destination = "/data"

[env]
  SIGNAL_CLI_CONFIG_DIR = "/data/signal-cli"
  MODE = "json-rpc"
